<div class="content">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button
                label="New mail"
                (click)="createMail()"
                icon="pi pi-plus"
                styleClass="p-button-success"
                class="p-mr-2"
            ></p-button>
            <p-button
                label="Remove"
                (click)="removeMails()"
                icon="pi pi-trash"
                styleClass="p-button-danger"
            ></p-button>
        </div>
    </p-toolbar>
    <h1 class="title">{{type}}</h1>
    <div class="table-wrap">
        <p-table
            [value]="previewMailData"
            [responsive]="true"
            [rowHover]="true"
            [(selection)]="selectedMails"
            styleClass="table"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]"
            [paginator]="true"
            selectionMode="multiple"
        >
          <ng-template pTemplate="header">
            <tr>
                <th class="th-checkbox">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th class="th-favorites">
                    Favorite
                </th>
                <th class="th-owner">
                    Owner
                </th>
                <th class="th-theme">
                    Theme
                </th>
                <th colspan="2">
                    Send time
                </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-mail>
            <tr (click)="rowClick(mail)">
                <td>
                    <p-tableCheckbox (click)="onCheckboxClick($event)" [value]="mail"></p-tableCheckbox>
                </td>
                <td>
                    <span style="color:red;display: inline-block;margin-right: 7px;margin-left: -14px; line-height: 2;"
                    >{{ mail.wasWatched ? '' : '&#8226;' }}</span>
                    <span [ngStyle]="!mail.wasWatched ? '' : {'margin-left': '6px'}">
                        <p-toggleButton
                            [(ngModel)]="mail.favorite"
                            (onChange)="onFavorite($event, mail)"
                            [onIcon]="'pi pi-star-o'"
                            offIcon="pi pi-star-o"
                        ></p-toggleButton>
                    </span>
                </td>
                <td>
                    {{ mail.owner | uidToEmail }}
                </td>
                <td>
                    {{ mail.theme }}
                </td>
                <td>
                    {{ mail.sendTime?.toDate() | date: 'short' }}
                </td>
                <td style="text-align: end">
                    <p-button
                        styleClass="p-button-danger"
                        class="p-button-secondary"
                        (click)="removeMails($event, mail)"
                        icon="pi pi-trash"
                    ></p-button>
                </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No mails found.</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" key="dialog" [baseZIndex]="10000"></p-confirmDialog>
