.content
    display: flex
    flex-direction: column
.title
    margin-left: 25px
.th
    &-checkbox
        width: 50px
    &-favorites
        width: 100px
    &-owner
        width: 300px
    &-th-theme
        width: 400px

:host ::ng-deep .table.p-datatable
    .p-datatable-tbody
        td
            overflow: hidden
            overflow-wrap: break-word