<div class="content">
    <p-menubar [model]="menuItems" styleClass="menubar">
        <p-breadcrumb [model]="breadcrumbsItems" [home]="home" styleClass="breadcrumb"></p-breadcrumb>
        <button
            pButton
            pRipple
            label="Quit"
            type="button"
            icon="pi pi-fw pi-power-off"
            class="p-ml-auto"
            (click)="logout()"
        ></button>
    </p-menubar>
    <router-outlet></router-outlet>
</div>
<p-sidebar [(visible)]="displaySideBar">
    <h1>Menu</h1>
    <div class="menu-item {{type === 'Inbox' ? 'menu-item--active' : ''}}"
        (click)="select('Inbox')"
    >
        Inbox
    </div>
    <div class="menu-item {{type === 'Outbox' ? 'menu-item--active' : ''}}"
        (click)="select('Outbox')"
    >
        Outbox
    </div>
    <div class="menu-item {{type === 'Favorite' ? 'menu-item--active' : ''}}"
        (click)="select('Favorite')"
    >
        Favorite
    </div>
</p-sidebar>