.content
    height: 100%
    display: flex
    flex-direction: column
:host ::ng-deep .breadcrumb.p-breadcrumb
    padding: 0
    background-color: #ffffff00
    border: none

:host ::ng-deep .menubar.p-menubar
    .p-menubar-end
        margin-left: 0
    .p-menubar-end
        display: flex
        width: 100%

.menu-item
    padding: 1em
    font-size: 16px
    &--active
        background-color: #dfddddb3
        &:hover
            background-color: #a5a5a5d0
    &:hover
        background-color: #dfdddd44