<form class="back"
    [formGroup]="form"
    (ngSubmit)="form.valid && submit()"
>
    <span class="p-fluid p-float-label p-mt-4">
        <p-chips
            formControlName="adress"
            class="p-field"
            id="address"
            [max]="1"
        ></p-chips>
        <label for="address">Address</label>
        <small
            *ngIf="form.get('adress').touched && form.get('adress').invalid"
            id="adress-help"
            class="p-invalid"
            style="margin-left: 5px"
        >
            Adress is not available.
        </small>
    </span>
    <span class="p-fluid p-float-label p-mt-4">
        <input
            formControlName="theme"
            class="p-field"
            id="theme"
            type="text"
            pInputText
            maxlength="25"
        >
        <label for="theme">Theme</label>
        <small
            *ngIf="form.get('theme').touched && form.get('theme').invalid"
            id="theme-help"
            class="p-invalid"
            style="margin-left: 5px"
        >
            Theme is required.
        </small>
    </span>
    <p-editor
        class="p-mt-2"
        formControlName="text"
        [style]="{'height':'200px', 'margin-bottom':'5px'}"
    ></p-editor>
    <p-button
        label="Send mail"
        iconPos="right"
        type="submit"
        icon="pi pi-angle-right"
        styleClass="p-button-success"
        [disabled]="form.invalid"
    ></p-button>
</form>