<form class="back" [formGroup]="form" (ngSubmit)="form.valid && submit()">
    <p-card styleClass="card" header="Login">
        <span class="p-float-label form-control">
            <input
                id="email"
                type="email"
                formControlName="email"
                pInputText
            >
            <label for="email">Email</label>
            <small
                *ngIf="form.get('email').touched && form.get('email').invalid"
                id="email-help"
                class="p-invalid"
                style="margin-left: 5px"
            >
                Email is not available.
            </small>
        </span>
        <span class="p-float-label form-control">
            <input
                id="password"
                type="password"
                pInputText
                formControlName="password"
            >
            <label for="password">Password</label>
            <small *ngIf="form.get('password').touched && form.get('password').invalid"
                id="password-help"
                class="p-invalid"
                style="margin-left: 5px"
            >
                Password is not available.
            </small>
        </span>
        <p-button
            label="login"
            type="submit"
            styleClass="p-button-success"
            [disabled]="form.invalid || loading"></p-button>
    </p-card>
</form>