<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button label="New mail" (click)="newMail()" icon="pi pi-plus" styleClass="p-button-success" class="p-mr-2"></p-button>
        <p-button label="Remove" (click)="remove()" icon="pi pi-trash" styleClass="p-button-danger"></p-button>
    </div>
</p-toolbar>
<div *ngIf="mail" class="content">
    <h1 class="p-mx-6" style="border-bottom: 1px solid">{{mail.theme}}</h1>
    <p-toggleButton
        class="p-mx-6 p-mt-2"
        [(ngModel)]="mail.favorite"
        (onChange)="onFavorite()"
        [onIcon]="'pi pi-star-o'"
        offIcon="pi pi-star-o"
    ></p-toggleButton>
    <div class="p-mx-6 p-mt-2">{{mail.sendTime.toDate() | date: 'short'}}</div>
    <div class="p-mx-6 p-mt-2">
        <b>From:</b>
        {{mail.owner | uidToEmail}}
    </div>
    <div class="p-mx-6 p-mt-1">
        <b>Recipients: </b>
        <span *ngFor="let recipient of mail.recipients">{{recipient | uidToEmail }} </span>
    </div>
    <div class="mail-text p-mx-6 p-mt-3" [innerHTML]="mail.messageText"></div>
    <div class="p-mx-6 p-mt-3">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <p-button label="Reply" (click)="reply()" iconPos="right" icon="pi pi-angle-right" styleClass="p-button-secondary"></p-button>
            </div>
        </p-toolbar>
    </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}" key="dialog" [baseZIndex]="10000"></p-confirmDialog>
