.content
    display: flex
    background-color: rgb(248, 249, 250)
    width: 100%
    height: 77vh
    flex-direction: column

.mail-text
    background-color: rgb(228, 228, 228)
    border: 1px solid rgb(160, 160, 160)
    padding: 0.5em
    border-radius: 3px